@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .section-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    /* min-width: 100dvw; */

  }


  @media screen and (max-width:640px) {
    .section-container{
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;

    }
  }
}

/* Hilangkan spinner di input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}






