@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .section-container {
    max-width: 1440px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100dvw;
  }


  @media screen and (max-width:640px) {
    .section-container{
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

/* Hilangkan spinner di input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}






